// .top-grid{
//     display: flex;
// }
header{
    min-height: 50vh;
    background: url('/images/mobile-image-hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    nav{
        width: 100%;
        display: flex;
        
        // margin: 0 auto;
        padding: 4rem 2rem;
    }

    .nav-logo{
        margin: 0 auto;
    }

    .nav-links{
        display: none;

        li{
            list-style: none;
        }
    }

    .slider-btn-1{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;

        .next-slide, .prev-slide{
            background-color: $Black;
            padding: .8rem 1.5rem;
        }
    }
}

.intro{
    position: relative;
    .text-box{
        padding: 4rem 3rem;
    
        .intro-text{
            color: $Dark-Gray;
            padding: 1.5rem 0;
            line-height: 1.2;
        }
    
        .order-btn{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: .4rem;
            margin-top: 1rem;
            cursor: pointer;

            &:hover{
                p{
                    color: $Dark-Gray;
                }
                .arrow{
                    fill: $Dark-Gray;
                }
            }

            .arrow{
                margin-left: 2rem;
            }
        }
    
        
    }
    
    .slider-btn-2{
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
    
        .next-slide, .prev-slide{
            background-color: $Black;
            padding: .8rem 1.5rem;
            cursor: pointer;

            &:hover{
                background-color: $Dark-Gray;
            }
        }
    }

    
}