// .top-grid{
//     display: flex;
// }
header{
    min-height: 50vh;
    background: url('/images/mobile-image-hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    nav{
        width: 100%;
        display: flex;
        
        // margin: 0 auto;
        padding: 4rem 2rem;
        position: relative;
    }

    .hamburger, .close-btn{
        cursor: pointer;
    }

    .nav-logo{
        margin: 0 auto;
    }

    .nav-links{
        display: flex;
        justify-content: space-between;
        background-color: $White;
        padding: 4rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        right: 100%;
        z-index: 5;
        transition: transform 0.6s ease;

        .nav-btn{
            margin-right: 2rem;
        }

        li{
            list-style: none;
            text-transform: lowercase;
            cursor: pointer;
        }
    }

    .slider-btn-1{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;

        .next-slide, .prev-slide{
            background-color: $Black;
            padding: .8rem 1.5rem;
        }
    }
}

.nav-open{
    transform: translateX(100%);
}

.intro{
    position: relative;
    .text-box{
        padding: 4rem 3rem;
    
        .intro-text{
            color: $Dark-Gray;
            padding: 1.5rem 0;
            line-height: 1.2;
        }
    
        .order-btn{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: .4rem;
            margin-top: 1rem;
            cursor: pointer;

            &:hover{
                p{
                    color: $Dark-Gray;
                }
                .arrow{
                    fill: $Dark-Gray;
                }
            }

            .arrow{
                margin-left: 2rem;
            }
        }
    
        
    }
    
    .slider-btn-2{
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
    
        .next-slide, .prev-slide{
            background-color: $Black;
            padding: .8rem 1.5rem;
            cursor: pointer;

            &:hover{
                background-color: $Dark-Gray;
            }
        }
    }

}

.bottom-grid{
    .about-img-1{
        min-height: 30vh;
        background: url('/images/image-about-dark.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    article{
        padding: 4rem 3rem;
        h2{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.5rem;
            letter-spacing: .3rem;
            margin-bottom: 2rem;
        }

        .about-text{
            color: $Dark-Gray;
            line-height: 1.2;
        }
    }
    .about-img-2{
        min-height: 30vh;
        background: url('/images/image-about-light.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } 
}